<div class="repository-component mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort class="repository-table"
             matSortActive="created" matSortDisableClear matSortDirection="asc">

    <ng-container matColumnDef="name">
      <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header>
        Repository name
      </mat-header-cell>
      <mat-cell fxFlex="10%" *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="language">
      <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header>
        Language
      </mat-header-cell>
      <mat-cell fxFlex="10%" *matCellDef="let row"> {{row.language}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
  </mat-table>
</div>
